node-red-simple-scheduler-ui-dashboard.flow.json
[{"id":"afc946e5.6340d8","type":"ui_template","z":"1491d5d1.cf2f2a","group":"e8ed340a.c38b28","name":"Select Schedule","order":1,"width":"5","height":4,"format":"<style>\ninput[type=checkbox].shed  { display:none; }\ninput[type=checkbox].shed + label{width: 150px; min-width: 150px;  border: 1px solid #486170; padding: 13px; margin:0 2px 0 0; border-radius:3px;}\ninput[type=checkbox].shed:checked + label{ background-color: #7A7A7A;}\n\ninput[type=checkbox].shedLR  { display:none; }\ninput[type=checkbox].shedLR + label{width: 150px; min-width: 150px;  border: 1px solid #486170; padding: 13px; margin:0 2px 0 0; border-radius:3px;}\ninput[type=checkbox].shedLR:checked + label{ background-color: #7A7A7A;}\n\n\ninput[type=checkbox].dow  { display:none; }\ninput[type=checkbox].dow + label{ border: 1px solid #486170; padding: 9px; margin:0 0px 0 0; border-radius:3px;}\ninput[type=checkbox].dow:checked + label{ background-color:#7A7A7A; width: 150px;}\n\ninput[type=checkbox].dis   { display:none; }\ninput[type=checkbox].dis + label{ border: 1px solid #486170; padding: 7px; margin:0 0 0 0; border-radius:3px;}\ninput[type=checkbox].dis:checked + label{border: 1px solid #FF7443; background-color:#FF7443; width: 150px;}\n\ninput[type=\"text\"]{padding: 3px 0 3px 4px;  border: 1px solid #cccccc; margin: 5px 0 5px 0; border-radius:3px; color:#3C3C3C;}\ninput[type=\"text\"]:disabled { color: #486170;}\ninput[type=\"time\"]{padding: 0px 0 0px 4px;  border: 1px solid #cccccc; font-size: 1.0em;  border-radius:3px; color:#3C3C3C;}\ninput[type=\"time\"]:disabled { color: #486170;}\ninput[type=\"date\"]{padding: 0px 0 0px 4px;  border: 1px solid #cccccc; font-size: 1.0em;  border-radius:3px; color:#3C3C3C;}\ninput[type=\"date\"]:disabled { color: #486170;}\n\n.valMedium {width: 75px;}\n.valLable {padding-left: 15px; font-size: 0.8em;}\n.yLable {padding-left: 0px; font-size: 0.8em;}\n\n@media screen and (max-device-width:640px), screen and (max-width:640px) {\ninput[type=checkbox].shedLR  { display:none; }\ninput[type=checkbox].shedLR + label{width: 155px; min-width: 155px;  border: 1px solid #486170; padding: 13px 15px 13px 14px; margin:0 2px 0 0; border-radius:3px;}\ninput[type=checkbox].shedLR:checked + label{ background-color: #7A7A7A;;}\n}\n</style>\n<script>\n$(document).ready(function() {\n\t$(\"[evh=shedSel]\").bind( \"click\", function(event, ui) {\n\t\tvar sel = \"[evh=shedSel]\";\n\t\t$(sel).each(function () {\n    \t\t$(sel).prop( \"checked\", false )\n\t    });\n\t\t$(this ).prop( \"checked\", true ); \n    });\n\n   if($('#init').val() === 'yes'){\n        $('#shd-1').prop( \"checked\", true );\n        $('#init').val('no');\n    }\n});\n</script>\n<div style=\"float:left; margin:18px 0 0 20px; height: 55px; 220px\">\n\t<input type=\"checkbox\" id=\"shd-1\" evh=\"shedSel\"  ng-click=\"send(action($event))\" class=\"shed\">\n\t<label for=\"shd-1\" evh=\"shedSel\">01</label>\n\t<input type=\"checkbox\" id=\"shd-2\" evh=\"shedSel\"  ng-click=\"send(action($event))\" class=\"shed\">\n    <label for=\"shd-2\" evh=\"shedSel\">02</label>\n\t<input type=\"checkbox\" id=\"shd-3\" evh=\"shedSel\"  ng-click=\"send(action($event))\" class=\"shed\">\n\t<label for=\"shd-3\">03</label>\t\n\t<input type=\"checkbox\" id=\"shd-4\" evh=\"shedSel\"  ng-click=\"send(action($event))\" class=\"shed\">\n\t<label for=\"shd-4\">04</label>\n</div>\n<div style=\"float:left; margin:8px 0 0 20px; height: 55px; width: 220px\">\n\t<input type=\"checkbox\" id=\"shd-5\" evh=\"shedSel\" ng-click=\"send(action($event))\" class=\"shed\">\n\t<label for=\"shd-5\">05</label>\t\t\t\t\t\n\t<input type=\"checkbox\" id=\"shd-6\" evh=\"shedSel\" ng-click=\"send(action($event))\" class=\"shed\">\n\t<label for=\"shd-6\">06</label>\n\t<input type=\"checkbox\" id=\"shd-7\" evh=\"shedSel\" ng-click=\"send(action($event))\" class=\"shed\">\n\t<label for=\"shd-7\">07</label>\t\n\t<input type=\"checkbox\" id=\"shd-8\" evh=\"shedSel\" ng-click=\"send(action($event))\" class=\"shed\">\n\t<label for=\"shd-8\">08</label>\n</div>\t\n<div style=\"float:left; margin:8px 0 0 20px; height: 55px; width: 220px\">\n\t<input type=\"checkbox\" id=\"shd-9\" evh=\"shedSel\" ng-click=\"send(action($event))\" class=\"shed\">\n\t<label for=\"shd-9\">09</label>\t\t\t\t\t\n\t<input type=\"checkbox\" id=\"shd-10\" evh=\"shedSel\" ng-click=\"send(action($event))\" class=\"shedLR\">\n\t<label for=\"shd-10\" >10</label>\n\t<input type=\"checkbox\" id=\"shd-11\" evh=\"shedSel\" ng-click=\"send(action($event))\" class=\"shedLR\">\n\t<label for=\"shd-11\" >11</label>\t\n\t<input type=\"checkbox\" id=\"shd-12\" evh=\"shedSel\" ng-click=\"send(action($event))\" class=\"shedLR\">\n\t<label for=\"shd-12\">12</label>\n</div>\t\n<input type=\"hidden\" id=\"init\" value=\"yes\">\n<script>\n(function(scope) {\n\nthis.scope.action = function(event){\n    //console.log('shedID: '+event.currentTarget.id);\n    return msg = {payload: event.currentTarget.id};\n}\n})(scope);\n</script>\n\t","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":320,"y":220,"wires":[["877e21f7.9f682"]],"info":"selects a shedule item No"},{"id":"877e21f7.9f682","type":"function","z":"1491d5d1.cf2f2a","name":"get","func":"var shed = flow.get('schedule','file');\nvar shedState = flow.get('scheduledState','file');\nvar idx = msg.payload.split('-');\nmsg.topic = msg.payload;\n//msg.payload = JSON.stringify(shed[msg.payload]);\nmsg.payload = shed[msg.payload];\nmsg.msgType =  'Schedule';\nmsg.payload.shedState = shedState[parseInt(idx[1],10)];\nreturn msg;","outputs":1,"noerr":0,"x":492,"y":220,"wires":[["ce046fd5.72d66"]],"icon":"font-awesome/fa-database","info":"This node get the config of selected shedule item.\nNode input comes from selected shedule item ui template.\nOutput is passed to shedule item template."},{"id":"91dd1b73.42f318","type":"function","z":"1491d5d1.cf2f2a","name":"Schedule","func":"var shedDIDs = {\n\"shd-1\": {\n  \"id\": 0,\n  \"did\": null,\n  \"tag\": \"Item 1\",\n  \"startTime\": \"10:58\",\n  \"startValue\": \"50\",\n  \"endTime\": \"11:03\",\n  \"endValue\": \"22\",\n  \"dofWeek\": [\n    1,\n    0,\n    0,\n    0,\n    0,\n    1,\n    1\n  ],\n  \"StartDate\": null,\n  \"EndDate\": null,\n  \"disabled\": false\n  }, \n\"shd-2\": {\n  \"id\": 1,    \n  \"did\": \"2\",\n  \"tag\": \"\",\n  \"startTime\": null,\n  \"startValue\": null,\n  \"endTime\": null,\n  \"endValue\": null,\n  \"dofWeek\": [\n    0,\n    0,\n    0,\n    0,\n    0,\n    0,\n    0\n  ],\n  \"StartDate\": null,\n  \"EndDate\": null,\n  \"disabled\": true\n  },\n\"shd-3\": {\n  \"id\": 2,    \n  \"did\": null,\n  \"tag\": \"\",\n  \"startTime\": \"\",\n  \"startValue\": null,\n  \"endTime\": \"\",\n  \"endValue\": null,\n  \"dofWeek\": [\n    0,\n    0,\n    0,\n    0,\n    0,\n    0,\n    0\n  ],\n  \"StartDate\": null,\n  \"EndDate\": null,\n  \"disabled\": true\n  },\n\"shd-4\": {\n  \"id\": 3,     \n  \"did\": null,\n  \"tag\": \"\",\n  \"startTime\": null,\n  \"startValue\": null,\n  \"endTime\": null,\n  \"endValue\": null,\n  \"dofWeek\": [\n    0,\n    0,\n    0,\n    0,\n    0,\n    0,\n    0\n  ],\n  \"StartDate\": null,\n  \"EndDate\": null,\n  \"disabled\": true\n  },\n\"shd-5\": {\n  \"id\": 4,     \n  \"did\": null,\n  \"tag\": \"\",\n  \"startTime\": null,\n  \"startValue\": null,\n  \"endTime\": null,\n  \"endValue\": null,\n  \"dofWeek\": [\n    0,\n    0,\n    0,\n    0,\n    0,\n    0,\n    0\n  ],\n  \"StartDate\": null,\n  \"EndDate\": null,\n  \"disabled\": true\n  },\n\"shd-6\": {\n  \"id\": 5,     \n  \"did\": null,\n  \"tag\": \"\",\n  \"startTime\": null,\n  \"startValue\": null,\n  \"endTime\": null,\n  \"endValue\": null,\n  \"dofWeek\": [\n    0,\n    0,\n    0,\n    0,\n    0,\n    0,\n    0\n  ],\n  \"StartDate\": null,\n  \"EndDate\": null,\n  \"disabled\": true\n  },\n\"shd-7\": {\n  \"id\": 6,     \n  \"did\": null,\n  \"tag\": \"\",\n  \"startTime\": null,\n  \"startValue\": null,\n  \"endTime\": null,\n  \"endValue\": null,\n  \"dofWeek\": [\n    0,\n    0,\n    0,\n    0,\n    0,\n    0,\n    0\n  ],\n  \"StartDate\": null,\n  \"EndDate\": null,\n  \"disabled\": true\n  },\n\"shd-8\": {\n  \"id\": 7,     \n  \"did\": null,\n  \"tag\": \"\",\n  \"startTime\": null,\n  \"startValue\": null,\n  \"endTime\": null,\n  \"endValue\": null,\n  \"dofWeek\": [\n    0,\n    0,\n    0,\n    0,\n    0,\n    0,\n    0\n  ],\n  \"StartDate\": null,\n  \"EndDate\": null,\n  \"disabled\": true\n  },\n\"shd-9\": {\n  \"id\": 8,     \n  \"did\": null,\n  \"tag\": \"\",\n  \"startTime\": null,\n  \"startValue\": null,\n  \"endTime\": null,\n  \"endValue\": null,\n  \"dofWeek\": [\n    0,\n    0,\n    0,\n    0,\n    0,\n    0,\n    0\n  ],\n  \"StartDate\": null,\n  \"EndDate\": null,\n  \"disabled\": true\n  },\n\"shd-10\": {\n  \"id\": 9,     \n  \"did\": null,\n  \"tag\": \"\",\n  \"startTime\": null,\n  \"startValue\": null,\n  \"endTime\": null,\n  \"endValue\": null,\n  \"dofWeek\": [\n    0,\n    0,\n    0,\n    0,\n    0,\n    0,\n    0\n  ],\n  \"StartDate\": null,\n  \"EndDate\": null,\n  \"disabled\": true\n  },\n\"shd-11\": {\n  \"id\": 10,     \n  \"did\": null,\n  \"tag\": \"\",\n  \"startTime\": null,\n  \"startValue\": null,\n  \"endTime\": null,\n  \"endValue\": null,\n  \"dofWeek\": [\n    0,\n    0,\n    0,\n    0,\n    0,\n    0,\n    0\n  ],\n  \"StartDate\": null,\n  \"EndDate\": null,\n  \"disabled\": true\n  },\n\"shd-12\": {\n  \"id\": 11,     \n  \"did\": null,\n  \"tag\": \"\",\n  \"startTime\": null,\n  \"startValue\": null,\n  \"endTime\": null,\n  \"endValue\": null,\n  \"dofWeek\": [\n    0,\n    0,\n    0,\n    0,\n    0,\n    0,\n    0\n  ],\n  \"StartDate\": null,\n  \"EndDate\": null,\n  \"disabled\": true\n  }\n}\nflow.set('schedule',shedDIDs,'file');","outputs":1,"noerr":0,"x":500,"y":178,"wires":[[]],"icon":"font-awesome/fa-database","info":"shedule JSON"},{"id":"c568b5a7.d19fe8","type":"inject","z":"1491d5d1.cf2f2a","name":"create","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.0","x":346,"y":178,"wires":[["91dd1b73.42f318"]],"info":"Click this to create the schedule"},{"id":"ac5291f2.21d8","type":"function","z":"1491d5d1.cf2f2a","name":"Scheduler","func":" // Web User created Scheduler v0.1b \nvar schedule  = flow.get('schedule','file');\nvar dayOfWeek = flow.get('dayOfWeek');\nvar scheduledState = flow.get('scheduledState','file') || [];\n\n//node.log(\"len:\"+scheduledState.length); \nif(scheduledState.length===0){\n\tfor(var i = 0; i < 12; i++) {\n\t   scheduledState[i]=null;\n       flow.set('scheduledState',scheduledState,'file');     \n\t}\n}\nvar d = new Date();\nvar dst = d.getTimezoneOffset(); // DST day light savign time\n//var hr = d.getHours()+dst;\nvar hr = d.getHours();\nvar _tm = \"d:\"+d.getDay()+\" h:\"+hr+\" m:\"+ d.getMinutes()+\" s:\"+ d.getSeconds();\nmsg.payload = null; \n\nfunction getEvents(){\n\t\n\t//_log(\"scheduler run at:\"+_tm+\" hr:\"+hr+\" dst:\"+dst);\n\t\n\tfor (var item in schedule) {\n\t\tvar shdId =  item.split('-');\n\t\tvar itemI = parseInt(shdId[1],10);  // Convert shdId to integer e.g. Shd-1 to 1\n\t\tvar event =  schedule[item];\n\t\t//node.log(\"sid:\"+item+\" dow:\"+event.dofWeek[d.getDay()]+\" state:\"+ scheduledState[itemI]+\" type:\"+ typeof  itemI);\n\t\t\n\t\tif(event.disabled === false){\n    \t\t// Check for scheduled Start event\t\t\n    \t\tvar hrmin=event.startTime.split(\":\");\n    \t\t//_log(item+\" enabled - scheduled today?: \"+(event.dofWeek[d.getDay()] === 0 ? 'No' : 'Yes')+\" - run state: \"+ scheduledState[itemI]);\n    \t\t_log(item+' shd-hr: '+parseInt(hrmin[0])+' hr: '+hr+' shd-min: '+parseInt(hrmin[1])+' min: '+d.getMinutes());  \n\n    \t\tif(parseInt(hrmin[0]) === hr &&  parseInt(hrmin[1]) === d.getMinutes() &&  scheduledState[itemI]=== null &&  event.dofWeek[d.getDay()] === 1){\n    \t\t\tmsg.payload = event.startValue;\n    \t\t\tmsg.item = item;\n    \t\t\tmsg.msgType =  'shdEvent';\n    \t\t\tmsg.topic = item+': '+event.tag+' &#13;&#10;Schedule Start ran at: '+hrmin[0]+\":\"+hrmin[1]+'&#13;&#10;';\n    \t\t\tscheduledState[itemI]=1; // run Start shed settings\n    \t\t\tflow.set('scheduledState',scheduledState,'file'); \n    \t\t\t_log(\"sid:\"+item+\" started v: \"+ msg.payload+\"  tag: \"+ event.tag +\" state:\"+scheduledState[itemI]);\n                node.send([msg,null]);\n    \t\t}\n    \t\t// Check for scheduled End event\n    \t\thrmin=event.endTime.split(\":\");\n    \t\tif(parseInt(hrmin[0]) === hr &&  parseInt(hrmin[1]) === d.getMinutes() &&  scheduledState[itemI] === 1 &&  event.dofWeek[d.getDay()] === 1){\n    \t\t\tmsg.payload = event.endValue;\n    \t\t\tmsg.item = item;\n    \t\t\tmsg.msgType =  'shdEvent';\n    \t\t\tmsg.topic = item+': '+event.tag+' &#13;&#10;Schedule End ran at: '+hrmin[0]+\":\"+hrmin[1]+'&#13;&#10;';\n    \t\t\tscheduledState[itemI] = 2; // run End shed settings\n    \t\t\tflow.set('scheduledState',scheduledState,'file'); \n    \t\t\t_log(\"sid:\"+item+\" ended v: \"+ msg.payload+\"  tag: \"+ event.tag +\" state:\"+scheduledState[itemI]);\n                node.send([msg,null]);\n    \t\t}\n\t\t} else {\n\t\t    //_log(item+': disabled');\n\t\t}  \n\t}\n}\n\nfunction scheduleReset(){\n    node.log(msg.topic);\n\tif(dayOfWeek != d.getDay() || msg.topic === 'reset'){\n\t\t\n\t\tif(dayOfWeek === 'undefined'){\n\t\t\t_log( \"reset schedule due to node-red restart\");\n\t\t\tdayOfWeek = d.getDay();\n\t\t\tflow.set('dayOfWeek',d.getDay());\n\t\t} \n\t\tif (dayOfWeek != d.getDay()){\n\t\t\t_log( \"reset schedule due to change of day:\"+d.getDay());\t\n\t\t    flow.set('dayOfWeek',d.getDay());\n\t\t}\n\t\tif (msg.topic === 'reset'){\n\t\t\t_log('reset schedule');\t\t\n\t\t}\n\n\t\tfor (var item in schedule) {\n\t\t\tvar shdId = item.split('-');\n            var idx = parseInt(shdId[1],10);\n\t\t\t//_log(\"schedule item:\"+item+\" idx:\"+idx);\n\t\t\tif(scheduledState[idx] !== null){\n\t\t\t\tscheduledState[idx]=null;\n\t\t\t    flow.set('scheduledState',scheduledState,'file'); \n\t\t\t\t//_log(\"schedule item:\"+item+\" manualy reset\");\n\t\t\t}\n\t\t}\n\t}\n}\nfunction _log(item){\n    var _log = {payload: item};\n    node.send([null,_log]);\n}\nfunction dayName(dayNo){\n    var dow = ['Sun','Mon','Tues','Wed','Thu','Fri','Sat'];\n    return dow[dayNo];\n}\n\nscheduleReset();\ngetEvents();\n","outputs":2,"noerr":0,"x":500,"y":265,"wires":[["82f56bd8.1c00f8","ce046fd5.72d66"],["38768221.a1b6ee"]],"icon":"node-red/timer.svg","info":"This node runs every x secs\nI schedule item needs to be enabled, selected for a given day, hour & min.\nIt will not run Ban on the selected min but with-in a min value.\nEg anywhere from 21 min 0 sec to 59 sec "},{"id":"82f56bd8.1c00f8","type":"debug","z":"1491d5d1.cf2f2a","name":"shd item","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":664,"y":258,"wires":[]},{"id":"a6517b12.46db08","type":"inject","z":"1491d5d1.cf2f2a","name":"run @30s","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":326,"y":265,"wires":[["ac5291f2.21d8"]],"info":"runs the sheduler every x Secs\ndefault is 30 secs\n"},{"id":"ce046fd5.72d66","type":"ui_template","z":"1491d5d1.cf2f2a","group":"e64870f.3447a9","name":"Schedule Item","order":1,"width":"5","height":"10","format":"<div style=\"margin:-5px 0 0 10px; padding:0;\">\n    <table>\n    <tr><td><input type=\"text\" id=\"shd-tag\" value=\"\" style=\"width: 170px;\"><label class=\"valLable\">Tag</label></td></tr>\n    <tr><td><input type=\"time\" class=\"valHour\" id=\"shd-st\" value=\"\" ><label for=\"shd-st\" class=\"valLable\">Start time</label></td></tr>\n\t<tr><td><input type=\"text\" class=\"valMedium\" id=\"shd-st-v\" value=\"\"><label class=\"valLable\">Start Value</label></td></tr>\n\t<tr><td><input type=\"time\" class=\"valHour\" id=\"shd-et\"  value=\"\"><label for=\"shd-et\" class=\"valLable\">End time</label></td></tr>\n\t<tr><td><input type=\"text\" class=\"valMedium\" id=\"shd-et-v\" value=\"\"><label class=\"valLable\">End Value</label>\n\t<br>\n\t</td></tr>\n    <tr><td>\n        <label class=\"yLable\">Day of the week</label><br><br>\n\t\t<input type=\"checkbox\" id=\"shd-dow-1\" class=\"dow\"><label for=\"shd-dow-1\">Mon</label>\t\n\t\t<input type=\"checkbox\" id=\"shd-dow-2\" class=\"dow\"><label for=\"shd-dow-2\"  style=\"padding-right:14px !important; margin-left:0px !important;\">Tue</label>\n\t\t<input type=\"checkbox\" id=\"shd-dow-3\" class=\"dow\"><label for=\"shd-dow-3\">Wed</label>\n\t\t<input type=\"checkbox\" id=\"shd-dow-4\" class=\"dow\"><label for=\"shd-dow-4\">Thrs</label>\n\t\t<br><br>\n\t</td></tr>\n\t<tr><td>\n\t\t<input type=\"checkbox\" id=\"shd-dow-5\" class=\"dow\"><label for=\"shd-dow-5\" style=\"padding-right:23px !important;\">Fri</label>\n\t\t<input type=\"checkbox\" id=\"shd-dow-6\" class=\"dow\"><label for=\"shd-dow-6\" style=\"padding-right:17px !important; margin-left:0px !important;\">Sat</label>\n\t    <input type=\"checkbox\" id=\"shd-dow-0\" class=\"dow\"><label for=\"shd-dow-0\" style=\"padding-right:14px !important; margin-left:0px !important;\">Sun</label>\n        <br>\n    </td></tr>\n\t<tr><td>\n\t   <br><input type=\"date\" id=\"shd-StartDate\" style=\"width: 145px\" value=\"\"><label class=\"valLable\" >Start</label>\n\t   <input type=\"date\" id=\"shd-EndDate\" style=\"width: 145px\" value=\"\"><label class=\"valLable\" >End</label>\n\t   <br>\n    </td></tr>\n    </table>\n    <table style=\"margin-top: 10px;\">\n\t<tr>\n\t <td>\n\t   <input type=\"checkbox\" id=\"shd-disabled\" class=\"dis\" style=\"width: 110px;\"><label for=\"shd-disabled\">Disable</label>\n     </td>\n     <td>\n\t    <button class=\"md-raised nr-dashboard-form-button md-button md-ink-ripple\" style=\"margin:0 0 0 -1px; width: 73px;\" ng-click=\"send(save())\">Save</button>\n    </td></tr>\n\t</table>\n\t<textarea id=\"shdMsg\" rows=\"3\" cols=\"28\" style=\"margin-top: 10px !important; padding: 5px; border:0; background: #24323B; color: #CBC5C5; font-size: 0.8em;\"></textarea>\n\t<input type=\"hidden\" id=\"shd-id\" value=\"\">\n\t<div ng-init=\"init()\" style=\"display: none;\"></div>\n</div>\n<script>\nvar onInit = false;  // catch unwanted msg when flow is deployed\n\n(function(scope) {\n\n  scope.init = function () {\n    console.log('oninit');\n    // not used stub\n  };\n\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n        console.log('pl:'+msg.payload+' msgtype: '+msg.msgType);\n        if(\tmsg.msgType ===  'Schedule' && onInit === false){\n    \n            $('#shd-tag').val(msg.payload.tag);\n            $('#shd-st').val(msg.payload.startTime);\n    \t    $('#shd-st-v').val(msg.payload.startValue);\n            $('#shd-et').val(msg.payload.endTime);\n            $('#shd-et-v').val(msg.payload.endValue);\n            \n            for (dow = 0; dow < 7; dow++) {\n    \t\t\tvar  dowUI = '#shd-dow-'+dow;\n    \t\t\tif (msg.payload.dofWeek[dow]==1){\n    \t\t\t\t$(dowUI).prop( \"checked\", true );\n    \t\t\t} else {\n    \t\t\t\t$(dowUI).prop( \"checked\", false );\n    \t\t\t}\n            }\n            \n            $('#shd-StartDate').val(msg.payload.StartDate);\n            $('#shd-st').css({\"background-color\": \"#FFFFFF\"});\n            $('#shd-et').css({\"background-color\": \"#FFFFFF\"});\n            if(msg.payload.shedState === 1 || msg.payload.shedState === 2){$('#shd-st').css({\"background-color\": \"#E7E7E7\"});}\n            $('#shd-EndDate').val(msg.payload.EndDate);\n            if(msg.payload.shedState === 2){$('#shd-et').css({\"background-color\": \"#E7E7E7\"});}\n            \n            if(msg.payload.disabled ===  true){\n    \t        $('#shd-disabled').prop( \"checked\", true);\n            } else {\n                $('#shd-disabled').prop( \"checked\", false); \n            }\n            \n            $('#shd-id').val(msg.payload.id);\n            \n        } else if (msg.msgType ===  'shdEvent'){\n            $('#shdMsg').html(msg.topic+'Value set to: ' + msg.payload);\n        } else if (onInit === true){onInit = false;}\n    }\n  });\n  \n  this.scope.save = function(){\n    var obj = {id:null, tag: null, startTime: null,startValue: null, endTime: null, endValue: null, dofWeek: [], StartDate: null, EndDate: null, disabled: null};\n    obj.id         = $('#shd-id').val();\n    obj.tag        = $('#shd-tag').val();\n    obj.startTime  = $('#shd-st').val();\n\tobj.startValue = $('#shd-st-v').val();\n    obj.endTime    = $('#shd-et').val();\n    obj.endValue   = $('#shd-et-v').val();\n\tfor (dow = 0; dow< 7; dow++) {\n\t\tvar dowUI = '#shd-dow-'+dow;\n\t\tif($(dowUI).prop( \"checked\")){\n\t\t\tobj.dofWeek[dow] = 1 ;\n\t\t} else {\n\t\t\tobj.dofWeek[dow] = 0 ;\n\t\t}\n\t} \n    obj.StartDate = $('#shd-StartDate').val();\n    obj.EndDate   = $('#shd-EndDate').val();\n    if($('#shd-disabled').prop( \"checked\")){\n\t\tobj.disabled = true ;\n\t} else {\n\t\tobj.disabled = false ;\n\t}\n    console.log(\"pl:\"+obj.tag);\n    return msg = {payload: obj};\n  }\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":683,"y":220,"wires":[["da672164.899c5"]],"info":"Dsiplays a shedule item config"},{"id":"da672164.899c5","type":"function","z":"1491d5d1.cf2f2a","name":"update","func":"var _keyNo = parseInt(msg.payload.id,'10');\nvar no = _keyNo+1;\nvar _key = \"shd-\"+no ;\nvar shd = flow.get('schedule','file');\nshd[_key].tag = msg.payload.tag;\nshd[_key].startTime  = msg.payload.startTime;\nshd[_key].startValue = msg.payload.startValue;\nshd[_key].endTime    = msg.payload.endTime;\nshd[_key].endValue   = msg.payload.endValue;\nshd[_key].dofWeek    = msg.payload.dofWeek;\nshd[_key].StartDate  = msg.payload.StartDate;\nshd[_key].EndDate    = msg.payload.EndDate;\nshd[_key].disabled   = msg.payload.disabled;\nflow.set('schedule',shd,'file');\nreturn msg;","outputs":1,"noerr":0,"x":851,"y":220,"wires":[[]],"icon":"font-awesome/fa-database","info":"persists changes to a shedule item."},{"id":"f27ca1cc.4d4e5","type":"inject","z":"1491d5d1.cf2f2a","name":"reset","topic":"reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":346,"y":305,"wires":[["ac5291f2.21d8"]],"info":"This resets the scheduler state.\nSo if your testing and want to re-run a schedule item. Click this."},{"id":"38768221.a1b6ee","type":"debug","z":"1491d5d1.cf2f2a","name":"log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":654,"y":298,"wires":[]},{"id":"e8ed340a.c38b28","type":"ui_group","z":"","name":"Select Schedule Item","tab":"d3242a6b.88b028","order":1,"disp":true,"width":"5","collapse":false},{"id":"e64870f.3447a9","type":"ui_group","z":"","name":"Schedule Item ","tab":"d3242a6b.88b028","order":2,"disp":true,"width":"5","collapse":false},{"id":"d3242a6b.88b028","type":"ui_tab","z":"","name":"Scheduler","icon":"fa-calendar","order":1,"disabled":false,"hidden":false}]
